<div class="container">
    <div class="display-5">
      Cadastro de Produtos
    </div>
    <table class="table table-dark table-striped">
      <thead>
        <tr>
          <th scope="col">ID</th>
          <th scope="col">Nome</th>
          <th scope="col">Preço</th>
          <th scope="col">Categoria</th>
        </tr>
      </thead>
      <tbody>
       
        <tr *ngFor="let product of products">
          <td>{{product.id}}</td>
          <td>{{product.name}}</td>
          <td>{{product.price}}</td>
          <td>{{product.category}}</td>
        </tr>
      </tbody>
    </table>
  </div>